html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* LEFT = 80% */
.left-panel {
  flex: 0 0 80%;
  max-width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid #ddd;
}

/* RIGHT = 20% */
.right-panel {
  flex: 0 0 20%;
  max-width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}