:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* FILE LIST */
.file-list {
  flex: 0 0 45%;
  overflow-y: auto;
  border-bottom: 1px solid #ddd;
  min-height: 0;
}

/* LIVE PREVIEW */
.preview-area {
  flex: 1;
  min-height: 0;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f4f4f4;
}

/* FORCE FULL FILL */
.preview-area iframe,
.preview-area img {
  width: 100% !important;
  height: 100% !important;
  border: none;
  object-fit: contain;
}